<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #464646;">
    <div class="container">
      <a routerLink="/" style="color: white" class="navbar-brand" routerLinkActive="active">Fashionista</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <ng-container *ngIf="!auth.isAuthenticated()">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Customer
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link" [routerLink]="['/products']">Products</a>
                <a class="nav-link" [routerLink]="['/cart']">Cart</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link" [routerLink]="['/companies-list']">Manage Companies</a>
                <a class="nav-link" [routerLink]="['/products-list']">Manage Products</a>
                <a class="nav-link" [routerLink]="['/users-list']">Manage Users</a>
              </div>
            </li>
            <li class="nav-item">
              <a routerLink="/auth/login" style="color: white" class="nav-link" routerLinkActive="active">
                Login
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/auth/register" style="color: white" class="nav-link">
                Register
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="auth.isAuthenticated()">
            <li class="nav-item">
              <a class='nav-link' [routerLink]="['/services']">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                {{ auth.getUsername() }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pointer" (click)="logout()">
                Logout
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
</body>

</html>