<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="register.component.css">
</head>

<body>
  <div class="container">
    <br><br><br>
    <div class="row align-items-center">
      <div class="col"></div>
      <div class="col">
        <div class="jumbotron">
          <h1 class="page-title">Create an account:</h1>
          <form #registerForm="ngForm">
            <div class="form-group">
              <div *ngIf="errors.length > 0" class="alert alert-danger">
                <ul *ngFor="let error of errors">
                  <li>{{ error }}</li>
                </ul>
              </div>
              <label for="id">ID</label>
              <input type="text" class="form-control" [(ngModel)]="formData._id" name="id" #id="ngModel" required>
            </div>
            <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
              <div *ngIf="id.errors.required">
                Id is required
              </div>
            </div>

            <div class="form-group">
              <div *ngIf="errors.length > 0" class="alert alert-danger">
                <ul *ngFor="let error of errors">
                  <li>{{ error }}</li>
                </ul>
              </div>
              <label for="username">Username</label>
              <input type="text" class="form-control" [(ngModel)]="formData.username" name="username"
                #username="ngModel" required>
            </div>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Username is required
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" [(ngModel)]="formData.email" name="email" #email="ngModel"
                required>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="formData.password" #password="ngModel"
                name="password" required>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required
              </div>
            </div>

            <div class="form-group">
              <label for="passwordConfirmation">Confirm Password</label>
              <input type="password" class="form-control" [(ngModel)]="formData.passwordConfirmation"
                #passwordConfirmation="ngModel" name="passwordConfirmation" required>
            </div>
            <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
              class="alert alert-danger">
              <div *ngIf="passwordConfirmation.errors.required">
                Confirm Password is required
              </div>
            </div>
            <div class="container">
              <button (click)="register()" type="submit" class="btn btn-warning" [disabled]="!registerForm.form.valid"
                style="float: left">Register</button>
              <button type="button" class="btn btn-primary" [routerLink]="['/products']" style="float: right">Employee
                Portal</button>
            </div>
            <br><br><br>
          </form>
        </div>
      </div>

      <div class="col"></div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <br><br><br><br><br>
  
  <div class="container">
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
  </div>
</body>

</html>