<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;">
                <td>{{product._id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><img src="{{product.photo}}" width="250" height="100"></td>
                <td><a [routerLink]="['/edit-product']" [queryParams]= 
                    "{_id:product._id, name:product.name, price:product.price, photo:product.photo}">Edit</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><a routerLink="/add-product">Add New Product</a></td>
            </tr>
        </tbody>
    </table>
</div>