<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="page-title">Add User</h1>
      <form #registerForm="ngForm">
        <div class="form-group">
          <div *ngIf="errors.length > 0" class="alert alert-danger">
            <ul *ngFor="let error of errors">
              <li>{{ error }}</li>
            </ul>
          </div>
          <label for="_id">ID</label>
          <input type="text" class="form-control" [(ngModel)]="formData._id" name="_id" #_id="ngModel" required>
        </div>
        <div *ngIf="_id.invalid && (_id.dirty || _id.touched)" class="alert alert-danger">
          <div *ngIf="_id.errors.required">
            ID is required
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="errors.length > 0" class="alert alert-danger">
            <ul *ngFor="let error of errors">
              <li>{{ error }}</li>
            </ul>
          </div>
          <label for="username">Username</label>
          <input type="text" class="form-control" [(ngModel)]="formData.username" name="username" #username="ngModel"
            required>
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Username is required
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="formData.email" name="email" #email="ngModel" required>
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" [(ngModel)]="formData.password" #password="ngModel"
            name="password" required>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
        </div>

        <div class="form-group">
          <label for="passwordConfirmation">Confirm Password</label>
          <input type="password" class="form-control" [(ngModel)]="formData.passwordConfirmation"
            #passwordConfirmation="ngModel" name="passwordConfirmation" required>
        </div>
        <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
          class="alert alert-danger">
          <div *ngIf="passwordConfirmation.errors.required">
            Confirm Password is required
          </div>
        </div>

        <div class="form-group">
          <label for="type">Account Type</label>
          <input type="text" class="form-control" [(ngModel)]="formData.type" #type="ngModel" name="type" required>
        </div>
        <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
          <div *ngIf="type.errors.required">
            Account type is required
          </div>
        </div>
        <button (click)="register()" type="submit" class="btn btn-warning"
          [disabled]="!registerForm.form.valid">Add</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/users-list']"
          style="float: right">Cancel</button>
      </form>
    </div>
  </div>
</div>