<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        body {
            background-image: url('../../assets/images/pattern.png');
            background-repeat: repeat;
            /* height: auto; */
            background-size: 88px 75px;
            /* background-size: contain; */
        }
    </style>

    <div class="container">
        <div class="jumbotron">
            <h4>My Cart</h4>
            <table class="table table-striped">
                <thead>
                    <th style="width: 5%">Option</th>
                    <th style="width: 5%">Id</th>
                    <th style="width: 15%">Name</th>
                    <th style="width: 10%">Price</th>
                    <th style="width: 40%">Photo</th>
                    <th style="width: 7.5%">Buy</th>
                    <th>Sub Total</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; let i = index">
                        <td align="center">
                            <a (click)="remove(item.product._id)">&#10060;</a>
                        </td>
                        <td>{{item.product[0]._id}}</td>
                        <td>{{item.product[0].name}}</td>
                        <td>{{item.product[0].price}}</td>
                        <td>
                            <p>
                                <a class="btn btn-secondary" data-toggle="collapse" href="#id{{i}}"
                                    role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Expand image
                                </a>
                            </p>
                            <div class="collapse" id="id{{i}}">
                                <div class="card card-body">
                                    <img src="{{item.product[0].photo}}" width="100%" height="100%">
                                </div>
                            </div>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.product[0].price * item.quantity}}</td>
                    </tr>
                    <tr>
                        <td align="left">Total:</td>
                        <td align="left">${{total}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="container">
                <button type="button" class="btn btn-primary" (click)="checkOut()" style="float: left">Check
                    Out</button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/products']" style="float: right">Back
                    to
                    Products</button>
            </div>

            {{cartInfo}}
            <br><br>
        </div>
    </div>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <div class="container">
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
    </div>
</body>

</html>