<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="product.component.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h4>Product List</h4>
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Photo</th>
                    <th>Buy</th>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{product._id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <p>
                                <a class="btn btn-secondary" data-toggle="collapse" href="#id{{i}}"
                                    role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Expand image
                                </a>
                            </p>
                            <div class="collapse" id="id{{i}}">
                                <div class="card card-body">
                                    <img src="{{product.photo}}" width="250" height="100">
                                </div>
                            </div>                        </td>
                        <td>
                            <a [routerLink]="['/cart', { id:product._id }]">Buy Now</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <div class="container">
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
    </div>
</body>

</html>